plugins/org.bigraph.model/resources/schema/spec.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	spec.xsd, the IT University of Copenhagen's proposed XML Schema
	for <spec> documents
	Copyright © Alexander Faithfull 2010, 2011, 2012
	
	Copying and distribution of this file, with or without modification,
	are permitted in any medium without royalty provided that the copyright
	notice and this notice are preserved. This file is offered as-is,
	without any warranty.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:rule="http://www.itu.dk/research/pls/xmlns/2011/rule"
            xmlns:spec="http://www.itu.dk/research/pls/xmlns/2012/simulation-spec"
            xmlns:bigraph="http://www.itu.dk/research/pls/xmlns/2010/bigraph"
            xmlns:signature="http://www.itu.dk/research/pls/xmlns/2010/signature"
            targetNamespace="http://www.itu.dk/research/pls/xmlns/2012/simulation-spec">

	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<h1>
						<code>spec</code> schema
					</h1>
					<p>
						This document is part of the <a href="http://www.itu.dk/">IT University of Copenhagen</a>'s
						set of <a href="http://www.w3.org/XML/Schema">XML Schema</a>s for <i>bigraphs</i>: it can be
						used to validate <code>&lt;spec&gt;</code> documents.
					</p>
					<p>
						The <code>spec</code> XML namespace name is <code><a href="http://www.itu.dk/research/pls/xmlns/2012/simulation-spec">http://www.itu.dk/research/pls/xmlns/2012/simulation-spec</a></code>.
					</p>
					<p>
						The key words <q>MUST</q>, <q>MUST NOT</q>, <q>REQUIRED</q>, <q>SHALL</q>, <q>SHALL NOT</q>,
						<q>SHOULD</q>, <q>SHOULD NOT</q>, <q>RECOMMENDED</q>,  <q>MAY</q>, and <q>OPTIONAL</q> in
						this document are to be interpreted as described in <a href="http://www.ietf.org/rfc/rfc2119.txt">RFC 2119</a>.
					</p>
					<h2>
						Notes
					</h2>
					<p>
						This schema incorporates by reference the <a href="bigraph.xsd"><code>bigraph</code> schema</a>, the <a href="signature.xsd"><code>signature</code> schema</a> and the <a href="rule.xsd"><code>rule</code> schema</a>.
					</p>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:import
		namespace="http://www.itu.dk/research/pls/xmlns/2011/rule"
		schemaLocation="rule.xsd" />

	<xsd:import
		namespace="http://www.itu.dk/research/pls/xmlns/2010/bigraph"
		schemaLocation="bigraph.xsd" />

	<xsd:import
		namespace="http://www.itu.dk/research/pls/xmlns/2010/signature"
		schemaLocation="signature.xsd" />

	<xsd:group name="anyForeignElements">
		<xsd:sequence>
			<xsd:any namespace="##other"
				processContents="lax"
				minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:group>

	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="spec" />
					<h2>
						<code>spec</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>spec</code>s MUST either:
					</p>
					<ul>
						<li>
							be empty, or
						</li>
						<li>
							contain
							<ul>
								<li>
									either
									<ul>
										<li>
											at most one <a href="#signature">signature</a>, or
										</li>
										<li>
											at most one <a href="signature.xsd#signature">signature:signature</a>
										</li>
									</ul>
									followed by
								</li>
								<li>
									zero or more
									<ul>
										<li>
											<a href="#rule">rule</a>s or
										</li>
										<li>
											<a href="rule.xsd#rule">rule:rule</a>s
										</li>
									</ul>
									followed by
								</li>
								<li>
									either
									<ul>
										<li>
											at most one <a href="#model">model</a>, or
										</li>
										<li>
											at most one <a href="bigraph.xsd#bigraph">bigraph:bigraph</a>
										</li>
									</ul>
									followed by
								</li>
								<li>
									at most one <a href="#external">external</a>.
								</li>
							</ul>
						</li>
					</ul>
					<h3>
						Attributes
					</h3>
					<p>
						The following attributes MAY be present:
					</p>
					<ul>
						<a id="spec_src" />
						<li>
							<code>src</code> (<code>string</code>): specifies a replacement simulation spec.
							<br />
							If this attribute is present, it SHOULD be a relative path to another <code>spec</code> document.
							<br />
							This attribute SHOULD be present on an empty <code>spec</code> element.
						</li>
					</ul>
					<p>
						Additionally, attributes from other namespaces MAY be present on <code>spec</code>s.
					</p>
					<h3>
						Notes
					</h3>
					<p>
						The <a href="#spec_src"><code>src</code> attribute</a> is provided primarily to support the embedding of <code>spec</code> elements into other documents.
					</p>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="spec">
		<xsd:complexType>
			<xsd:sequence minOccurs="0">
				<xsd:choice minOccurs="0">
					<xsd:element ref="spec:signature" />
					<xsd:element ref="signature:signature" />
				</xsd:choice>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="spec:rule" />
					<xsd:element ref="rule:rule" />
				</xsd:choice>
				<xsd:choice minOccurs="0">
					<xsd:element ref="spec:model" />
					<xsd:element ref="bigraph:bigraph" />
				</xsd:choice>
				<xsd:element ref="spec:external" minOccurs="0" />
			</xsd:sequence>
			<xsd:attribute name="src" type="xsd:string" />
			<xsd:anyAttribute namespace="##other"
				processContents="lax" />
		</xsd:complexType>
	</xsd:element>

	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="signature" />
					<h2>
						<code>signature</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>signature</code>s MAY contain:
					</p>
					<ul>
						<li>
							zero or more elements from other namespaces.
						</li>
					</ul>
					<h3>
						Attributes
					</h3>
					<p>
						The following attributes MAY be present:
					</p>
					<ul>
						<a id="signature_src" />
						<li>
							<code>src</code> (<code>string</code>): specifies the path to this simulation spec's <i>signature</i>.
							<br />
							If this attribute is present, it SHOULD be a path, relative to the directory that contains this simulation spec, to a <code>&lt;signature&gt;</code> document.
						</li>
					</ul>
					<p>
						Additionally, attributes from other namespaces MAY be present on <code>signature</code>s.
					</p>
					<h3>
						Notes
					</h3>
					<p>
						<strong>This element is deprecated</strong> in favour of the <a href="signature.xsd#signature">signature:signature</a> element.
					</p>
					<p>
						If the <code>src</code> attribute is not present, then this element should typically be treated as though it were the root of a <code>&lt;signature&gt;</code> document defining this simulation spec's signature.
					</p>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="signature">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="spec:anyForeignElements" />
			</xsd:sequence>
			<xsd:attribute name="src" type="xsd:string" />
			<xsd:anyAttribute namespace="##other"
				processContents="lax" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="rule" />
					<h2>
						<code>rule</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>rule</code>s MAY contain:
					</p>
					<ul>
						<li>
							zero or more elements from other namespaces.
						</li>
					</ul>
					<h3>
						Attributes
					</h3>
					<p>
						The following attributes MAY be present:
					</p>
					<ul>
						<a id="rule_src" />
						<li>
							<code>src</code> (<code>string</code>): specifies the path to one of this simulation spec's <i>rules</i>.
							<br />
							If this attribute is present, it SHOULD be a path, relative to the directory that contains this simulation spec, to a <code>&lt;rule&gt;</code> document.
						</li>
					</ul>
					<p>
						Additionally, attributes from other namespaces MAY be present on <code>rule</code>s.
					</p>
					<h3>
						Notes
					</h3>
					<p>
						<strong>This element is deprecated</strong> in favour of the <a href="rule.xsd#rule">rule:rule</a> element.
					</p>
					<p>
						If the <code>src</code> attribute is not present, then this element should typically be treated as though it were the root of a <code>&lt;rule&gt;</code> document defining a rule for this simulation spec.
					</p>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="rule">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="spec:anyForeignElements" />
			</xsd:sequence>
			<xsd:attribute name="src" type="xsd:string" />
			<xsd:anyAttribute namespace="##other"
				processContents="lax" />
		</xsd:complexType>
	</xsd:element>

	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="model" />
					<h2>
						<code>model</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>model</code>s MAY contain:
					</p>
					<ul>
						<li>
							zero or more elements from other namespaces.
						</li>
					</ul>
					<h3>
						Attributes
					</h3>
					<p>
						The following attributes MAY be present:
					</p>
					<ul>
						<a id="model_src" />
						<li>
							<code>src</code> (<code>string</code>): specifies the path to this simulation spec's <i>model</i>.
							<br />
							If this attribute is present, it SHOULD be a path, relative to the directory that contains this simulation spec, to a <code>&lt;bigraph&gt;</code> document.
						</li>
					</ul>
					<p>
						Additionally, attributes from other namespaces MAY be present on <code>model</code>s.
					</p>
					<h3>
						Notes
					</h3>
					<p>
						<strong>This element is deprecated</strong> in favour of the <a href="bigraph.xsd#bigraph">bigraph:bigraph</a> element.
					</p>
					<p>
						If the <code>src</code> attribute is not present, then this element should typically be treated as though it were the root of a <code>&lt;bigraph&gt;</code> document defining the model for this simulation spec.
					</p>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="model">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="spec:anyForeignElements" />
			</xsd:sequence>
			<xsd:attribute name="src" type="xsd:string" />
			<xsd:anyAttribute namespace="##other"
				processContents="lax" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="external" />
					<h2>
						<code>external</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>external</code>s MAY contain:
					</p>
					<ul>
						<li>
							zero or more elements from other namespaces.
						</li>
					</ul>
					<h3>
						Attributes
					</h3>
					<p>
						No attributes are defined for <code>external</code>s.
					</p>
					<p>
						Attributes from other namespaces MAY be present on <code>external</code>s.
					</p>
					<h3>
						Notes
					</h3>
					<p>
						The <code>external</code> element allows arbitrary external content to be included without violating the <a href="http://www.w3.org/wiki/UniqueParticleAttribution">unique particle attribution constraint</a>.
					</p>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="external">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="spec:anyForeignElements" />
			</xsd:sequence>
			<xsd:attribute name="src" type="xsd:string" />
			<xsd:anyAttribute namespace="##other"
				processContents="lax" />
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
