plugins/dk.itu.big_red/resources/schema/edit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
	edit.xsd, the IT University of Copenhagen's proposed XML Schema
	for <edit> documents
	Copyright © Alexander Faithfull 2012
	
	Copying and distribution of this file, with or without modification,
	are permitted in any medium without royalty provided that the copyright
	notice and this notice are preserved. This file is offered as-is,
	without any warranty.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:edit="http://example.invalid/xmlns/2012/edit"
            targetNamespace="http://example.invalid/xmlns/2012/edit">

	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<h1>
						Draft <code>edit</code> schema
					</h1>
					<p>
						This document is not yet part of the <a href="http://www.itu.dk/">IT University of Copenhagen</a>'s
						set of <a href="http://www.w3.org/XML/Schema">XML Schema</a>s for <i>bigraphs</i>. <strong>Its contents
						may change incompatibly without notice.</strong>
					</p>
					<p>
						The <code>spec</code> XML namespace name is <code><a href="http://example.invalid/xmlns/2012/edit">http://example.invalid/xmlns/2012/edit</a></code>.
					</p>
					<p>
						The key words <q>MUST</q>, <q>MUST NOT</q>, <q>REQUIRED</q>, <q>SHALL</q>, <q>SHALL NOT</q>,
						<q>SHOULD</q>, <q>SHOULD NOT</q>, <q>RECOMMENDED</q>,  <q>MAY</q>, and <q>OPTIONAL</q> in
						this document are to be interpreted as described in <a href="http://www.ietf.org/rfc/rfc2119.txt">RFC 2119</a>.
					</p>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:group name="anyForeignElements">
		<xsd:sequence>
			<xsd:any namespace="##other"
				processContents="lax"
				minOccurs="0"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:group>
	
	<xsd:complexType name="named-id">
		<xsd:attribute name="name" type="xsd:string" use="required" />
	</xsd:complexType>
	
	<xsd:complexType name="anyEditOrForeignElement">
		<xsd:sequence minOccurs="0">
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="edit:add" />
				<xsd:element ref="edit:remove" />
				<xsd:element ref="edit:rename" />
				<xsd:element ref="edit:connect" />
				<xsd:element ref="edit:disconnect" />
				<xsd:element ref="edit:group" />
				<xsd:group ref="edit:anyForeignElements" />
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="edit" />
					<h2>
						<code>edit</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>edit</code>s MAY contain any number of the following elements in any order:
					</p>
					<ul>
						<li>
							<a href="#add">add</a>,
						</li>
						<li>
							<a href="#connect">connect</a>,
						</li>
						<li>
							<a href="#disconnect">disconnect</a>,
						</li>
						<li>
							<a href="#group">group</a>,
						</li>
						<li>
							<a href="#remove">remove</a>,
						</li>
						<li>
							<a href="#rename">rename</a>, and
						</li>
						<li>
							elements from other namespaces.
						</li>
					</ul>
					<h3>
						Attributes
					</h3>
					<p>
						The following attribute MAY be present:
					</p>
					<ul>
						<a id="edit_src" />
						<li>
							<code>src</code> (<code>string</code>): specifies a replacement edit script.
							<br />
							If this attribute is present, it SHOULD be a relative path to another <code>edit</code> document.
							<br />
							This attribute SHOULD be present on an empty <code>edit</code> element.
						</li>
					</ul>
					<p>
						Additionally, attributes from other namespaces MAY be present on <code>edit</code>s.
					</p>
					<h3>
						Notes
					</h3>
					<p>
						The <a href="#edit_src"><code>src</code> attribute</a> is provided primarily to support the embedding of <code>edit</code> elements into other documents.
					</p>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="edit">
		<xsd:complexType><xsd:complexContent>
			<xsd:extension base="edit:anyEditOrForeignElement">
				<xsd:attribute name="src" type="xsd:string" />
				<xsd:anyAttribute namespace="##other"
					processContents="lax" />
			</xsd:extension>
		</xsd:complexContent></xsd:complexType>
	</xsd:element>
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="add" />
					<h2>
						<code>add</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>add</code>s MUST contain:
					</p>
					<ul>
						<li>
							a <a href="#parent_identifiers">parent identifier</a>, followed by
						</li>
						<li>
							a <a href="#child_identifiers">child identifier</a>.
						</li>
					</ul>
					<h3>
						Attributes
					</h3>
					<p>
						No attributes are defined for <code>add</code>s.
					</p>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="add">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="edit:anyParentIdentifier" />
				<xsd:group ref="edit:anyChildIdentifier" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="connect" />
					<h2>
						<code>connect</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>connect</code>s MUST contain:
					</p>
					<ul>
						<li>
							a <a href="#point_identifiers">point identifier</a>, followed by
						</li>
						<li>
							a <a href="#link_id">link identifier</a>.
						</li>
					</ul>
					<h3>
						Attributes
					</h3>
					<p>
						No attributes are defined for <code>connect</code>s.
					</p>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="connect">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:group ref="edit:anyPointIdentifier" />
				<xsd:group ref="edit:anyLinkIdentifier" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="disconnect" />
					<h2>
						<code>disconnect</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>disconnect</code>s MUST contain:
					</p>
					<ul>
						<li>
							a <a href="#point_identifiers">point identifier</a>.
						</li>
					</ul>
					<h3>
						Attributes
					</h3>
					<p>
						No attributes are defined for <code>disconnect</code>s.
					</p>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="disconnect">
		<xsd:complexType>
			<xsd:group ref="edit:anyPointIdentifier" />
		</xsd:complexType>
	</xsd:element>
	
		<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="group" />
					<h2>
						<code>group</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>group</code>s MAY contain the same children as <a href="#edit">edit</a>.
					</p>
					<h3>
						Attributes
					</h3>
					<p>
						No attributes are defined for <code>group</code>s.
					</p>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="group" type="edit:anyEditOrForeignElement" />
	
		<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="remove" />
					<h2>
						<code>remove</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>remove</code>s MUST contain:
					</p>
					<ul>
						<li>
							a <a href="#child_identifiers">child identifier</a>.
						</li>
					</ul>
					<h3>
						Attributes
					</h3>
					<p>
						No attributes are defined for <code>remove</code>s.
					</p>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="remove">
		<xsd:complexType>
			<xsd:group ref="edit:anyChildIdentifier" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="rename" />
					<h2>
						<code>rename</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>rename</code>s MUST contain:
					</p>
					<ul>
						<li>
							a <a href="#child_identifiers">child identifier</a>.
						</li>
					</ul>
					<h3>
						Attributes
					</h3>
					<p>
						The following attribute MUST be present:
					</p>
					<ul>
						<a id="rename_new-name" />
						<li>
							<code>new-name</code> (<code>string</code>): specifies the new name of the identified object.
						</li>
					</ul>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="rename">
		<xsd:complexType>
			<xsd:group ref="edit:anyChildIdentifier" />
			<xsd:attribute name="new-name" type="xsd:string" use="required" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="parent_identifiers" />
					<h2>
						Parent identifiers
					</h2>
					<p>
						A <i>parent identifier</i> is one of the following elements:
					</p>
					<ul>
						<li>
							<a href="#bigraph-id">bigraph-id</a>,
						</li>
						<li>
							<a href="#node-id">node-id</a>, or
						</li>
						<li>
							<a href="#root-id">root-id</a>.
						</li>
					</ul>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:group name="anyParentIdentifier">
		<xsd:choice>
			<xsd:element ref="edit:bigraph-id" />
			<xsd:element ref="edit:root-id" />
			<xsd:element ref="edit:node-id" />
		</xsd:choice>
	</xsd:group>
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="child_identifiers" />
					<h2>
						Child identifiers
					</h2>
					<p>
						A <i>child identifier</i> is one of the following elements:
					</p>
					<ul>
						<li>
							<a href="#edge-id">edge-id</a>,
						</li>
						<li>
							<a href="#innername-id">innername-id</a>,
						</li>
						<li>
							<a href="#outername-id">outername-id</a>,
						</li>
						<li>
							<a href="#node-id">node-id</a>.
						</li>
						<li>
							<a href="#root-id">root-id</a>, or
						</li>
						<li>
							<a href="#site-id">site-id</a>.
						</li>
					</ul>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:group name="anyChildIdentifier">
		<xsd:choice>
			<xsd:element ref="edit:root-id" />
			<xsd:element ref="edit:node-id" />
			<xsd:element ref="edit:site-id" />
			<xsd:element ref="edit:outername-id" />
			<xsd:element ref="edit:innername-id" />
			<xsd:element ref="edit:edge-id" />
		</xsd:choice>
	</xsd:group>
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="point_identifiers" />
					<h2>
						Point identifiers
					</h2>
					<p>
						A <i>point identifier</i> is one of the following elements:
					</p>
					<ul>
						<li>
							<a href="#innername-id">innername-id</a>, or
						</li>
						<li>
							<a href="#port-id">port-id</a>.
						</li>
					</ul>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:group name="anyPointIdentifier">
		<xsd:choice>
			<xsd:element ref="edit:innername-id" />
			<xsd:element ref="edit:port-id" />
		</xsd:choice>
	</xsd:group>
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="link_id" />
					<h2>
						Link identifiers
					</h2>
					<p>
						A <i>link identifier</i> is one of the following elements:
					</p>
					<ul>
						<li>
							<a href="#edge-id">edge-id</a>.
						</li>
						<li>
							<a href="#outername-id">outername-id</a>, or
						</li>
					</ul>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:group name="anyLinkIdentifier">
		<xsd:choice>
			<xsd:element ref="edit:outername-id" />
			<xsd:element ref="edit:edge-id" />
		</xsd:choice>
	</xsd:group>
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="bigraph-id" />
					<h2>
						<code>bigraph-id</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>bigraph-id</code> MUST NOT contain child elements.
					</p>
					<h3>
						Attributes
					</h3>
					<p>
						No attributes are defined for <code>bigraph-id</code>.
					</p>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="bigraph-id" />
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="root-id" />
					<h2>
						<code>root-id</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>root-id</code> MUST NOT contain child elements.
					</p>
					<h3>
						Attributes
					</h3>
					<p>
						The following attribute MUST be present:
					</p>
					<ul>
						<a id="root-id_name" />
						<li>
							<code>name</code> (<code>string</code>): specifies the name of a root.
						</li>
					</ul>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="root-id" type="edit:named-id" />
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="site-id" />
					<h2>
						<code>site-id</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>site-id</code> MUST NOT contain child elements.
					</p>
					<h3>
						Attributes
					</h3>
					<p>
						The following attribute MUST be present:
					</p>
					<ul>
						<a id="site-id_name" />
						<li>
							<code>name</code> (<code>string</code>): specifies the name of a site.
						</li>
					</ul>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="site-id" type="edit:named-id" />
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="outername-id" />
					<h2>
						<code>outername-id</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>outername-id</code> MUST NOT contain child elements.
					</p>
					<h3>
						Attributes
					</h3>
					<p>
						The following attribute MUST be present:
					</p>
					<ul>
						<a id="outername-id_name" />
						<li>
							<code>name</code> (<code>string</code>): specifies the name of an outer name.
						</li>
					</ul>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="outername-id" type="edit:named-id" />
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="innername-id" />
					<h2>
						<code>innername-id</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>innername-id</code> MUST NOT contain child elements.
					</p>
					<h3>
						Attributes
					</h3>
					<p>
						The following attribute MUST be present:
					</p>
					<ul>
						<a id="innername-id_name" />
						<li>
							<code>name</code> (<code>string</code>): specifies the name of an inner name.
						</li>
					</ul>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="innername-id" type="edit:named-id" />
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="edge-id" />
					<h2>
						<code>edge-id</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>edge-id</code> MUST NOT contain child elements.
					</p>
					<h3>
						Attributes
					</h3>
					<p>
						The following attribute MUST be present:
					</p>
					<ul>
						<a id="edge-id_name" />
						<li>
							<code>name</code> (<code>string</code>): specifies the name of an edge.
						</li>
					</ul>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="edge-id" type="edit:named-id" />
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="control-id" />
					<h2>
						<code>control-id</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>control-id</code> MUST NOT contain child elements.
					</p>
					<h3>
						Attributes
					</h3>
					<p>
						The following attribute MUST be present:
					</p>
					<ul>
						<a id="control-id_name" />
						<li>
							<code>name</code> (<code>string</code>): specifies the name of a control.
						</li>
					</ul>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="control-id" type="edit:named-id" />
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="node-id" />
					<h2>
						<code>node-id</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>node-id</code> MUST contain:
					</p>
					<ul>
						<li>
							a <a href="#control-id">control-id</a>.
						</li>
					</ul>
					<h3>
						Attributes
					</h3>
					<p>
						The following attribute MUST be present:
					</p>
					<ul>
						<a id="node-id_name" />
						<li>
							<code>name</code> (<code>string</code>): specifies the name of a node.
						</li>
					</ul>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="node-id">
		<xsd:complexType><xsd:complexContent>
			<xsd:extension base="edit:named-id">
				<xsd:sequence>
					<xsd:element ref="edit:control-id" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent></xsd:complexType>
	</xsd:element>
	
	<xsd:annotation>
		<xsd:documentation>
			<html xmlns="http://www.w3.org/1999/xhtml">
				<body>
					<a id="port-id" />
					<h2>
						<code>port-id</code>
					</h2>
					<h3>
						Children
					</h3>
					<p>
						<code>port-id</code> MUST contain:
					</p>
					<ul>
						<li>
							a <a href="#node-id">node-id</a>.
						</li>
					</ul>
					<h3>
						Attributes
					</h3>
					<p>
						The following attribute MUST be present:
					</p>
					<ul>
						<a id="port-id_name" />
						<li>
							<code>name</code> (<code>string</code>): specifies the name of a port.
						</li>
					</ul>
					<hr />
				</body>
			</html>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="port-id">
		<xsd:complexType><xsd:complexContent>
			<xsd:extension base="edit:named-id">
				<xsd:sequence>
					<xsd:element ref="edit:node-id" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent></xsd:complexType>
	</xsd:element>
</xsd:schema>
